.header {
  box-sizing: border-box;
  padding: 92px 50px 96px;
  min-height: 293px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
}

.header_links-list {
  display: flex;
  flex-direction: row;
  list-style: circle;
  gap: 32px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  font-weight: 400;
  font-size: 18px; 
  letter-spacing: 0%;
}

.header__link_active {
  text-decoration: none;  
}

.header-logo {  /* вернись к лого и попробуй исправить размер */
  display: block;
  width: 148px;
  height: 105px; 
}

.header__logo-image {
  width: 100%;
}

.header__address {
  max-width: 240px;
  justify-self: end;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  font-family: "Raleway", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
}

.cover {
  position: relative;
  z-index: -1;
  padding-left: 50px;
  padding-right: 50px;
  min-height: 757px;
  background-image: url(/images/cover.jpg);
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute; 
  inset: 0;
  padding: auto;
  z-index: -1;
  background-color: rgb(0 0 1/.6);
}

.cover-title {
  width: 100%;
  padding-top: 165px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  font-size: 100px;
  font-weight: 700;
  font-style: bold;
  line-height: 114.9%;
  letter-spacing: 0.3em;
}

.aligned-text {
  display: block;
  gap: 20px;
}

.aligned-text_center {
  padding-top: 20px;
  text-align: center;
}

.aligned-text_right {
  padding-top: 20px;
  padding-right: 0;
  text-align: right;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover_description {
  display: flex; 
  justify-content: space-between;
  height: 51px;
  margin-top: 106px;
  margin-bottom: 50px;
} 

.cover__description-text {
  align-self: center;
  font-size: 22px;
  line-height: 28px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  word-spacing: 0.8em;
}

.bet-button {
  width: 256px;
  border: 1px solid rgba(255, 255, 255, 1);
  color: white;
  background-color: transparent;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
}

.lots {
  box-sizing: border-box;
  margin: 180px 24px 120px;  
  min-height: 723px;
}

.lots__heading {
  padding-left: 40px;
  margin-bottom: 27px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  height: 47px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin: auto;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card, .card-link {
  height: 100%;
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: -1;
  padding: 48px 40px;
  background-size: cover;
  background-position: center;
  color: rgba(255, 255, 255, 1);
}
 
.card_type_film {
  background-image: url(/images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(/images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(/images/card-lot-03.jpg);
}

.card__title {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 120%;
  text-decoration: underline;
}

.card__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}

.lots__look-more-link {
  display: inline-block;
  padding-top: 30px;
  padding-left: 40px;
  font-size: 20px;
  font-weight: 400;
}

.about {
  margin-left: 24px;
  margin-right: 24px;  
  min-height: 595px;
  display: grid;
  grid-template-columns: 334px 698px;
  column-gap: 20px;
  justify-items: center;
} 

.about__column-left {
  padding-top: 35px;
}

.about__logo {
  display: flex;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  display: block;
  width: 62%; 
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 136px;
  padding-bottom: 100px;
}

.about__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 24px; 
  justify-content: center;
}

.footer {
  box-sizing: border-box;
  margin-top: 180px;
  padding-left: 50px;
  padding-right: 50px;
  min-height: 180px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  align-items: start;
}

.footer__address {
  display: flex;
  flex-direction: column;
  font-family: "Raleway", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
}

.footer_links-list {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  list-style: none;
}

.footer__link_active {
  text-decoration: none;
}

.footer__social-list-item {
  display: block;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  gap: 48px;
  justify-content: end;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
